@model EStudy.Application.ViewModels.Schedule.ScheduleAudience.ScheduleAudienceCreateModel

@{
    ViewData["Title"] = "Створення";
}

<h1>Створення аудиторії</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAudience" asp-controller="Schedule" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameAudience" class="control-label"></label>
                <input asp-for="NameAudience" class="form-control" />
                <span asp-validation-for="NameAudience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameAudienceEng" class="control-label"></label>
                <input asp-for="NameAudienceEng" class="form-control" />
                <span asp-validation-for="NameAudienceEng" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberSeats" class="control-label"></label>
                <input asp-for="NumberSeats" class="form-control" />
                <span asp-validation-for="NumberSeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AllAudiences">Повернутися до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
