@model EStudy.Application.ViewModels.User.UserViewModel

@{
    ViewData["Title"] = $"{Model.Firstname} {Model.Lastname}";
}

<h1>Користувач з Id @Model.Id</h1>

<div>
    @if (Model.PhotoPath == null)
    {
        <div class="container">
            <img src="Images/user.png" width="250" height="250"/>
        </div>
    }
    else
    {
        <div class="container">
            <img src="@Model.PhotoPath" />
        </div>
    }
</div>
