
@{
    ViewData["Title"] = "Налаштування";
}

<h1>Налаштування</h1>

<div>
    <a asp-controller="User" asp-action="Edit">Редагувати ім'я</a>
</div>

<div>
    <a asp-controller="User" asp-action="EditUsername">Редагувати нік</a>
</div>